<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Meta Info -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>[BMS] 도서관리시스템</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/css/fo_header.css" />
</head>
<body>
<div class="wrap">
    <div class="contents">
        <header class="site_header">
            <h1 class="logo">
                <a href="main.html">BMS<br><b>도서관리시스템</b></a>
            </h1>
            <div class="gnb_box">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">자료검색</a></li>
                    <li><a href="#">희망도서 신청</a></li>
                    <li><a href="#">BEST 도서</a></li>
                    <li><a href="#">내 서재</a></li>
                    <li><a href="#">커뮤니티</a></li>
                </ul>
                <span>김수현</span>님, 환영합니다.
                <a href="#" class="btn_logout">로그아웃</a>
<!--                <a href="#" class="btn_gnb"><span>전체메뉴</span></a>-->
            </div>
            <!--			<div class="gnb_box">-->
            <!--			</div>-->
        </header>
        <!-- // site-header -->
    </div>
    <!-- // contents -->
</div>
<!-- // wrap -->
</body>
</html>
