<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
<!--    <link rel="stylesheet" href="globals.css" />-->
    <link rel="stylesheet" href="/static/css/fo_index.css" />
</head>
<body>
<div class="main">
    <div class="main-v">
        <div class="section-wrapper">
            <div class="div-wrapper"><div class="text-wrapper-2">원하는 도서가 없나요?</div></div>
        </div>
        <div class="overlap">
            <div class="best-celler-wrapper">
                <div class="div-wrapper">
                    <div class="group-2">
                        <div class="section-2">
                            <div class="heading-wrapper">
                                <div class="heading"><div class="text-wrapper-3">이달의 신작</div></div>
                            </div>
                            <div class="link">더보기</div>
                            <div class="list-wrapper">
                                <div class="list">
                                    <div class="item">
                                        <img class="link-mask-group" src="img/link-mask-group-2.svg" />
                                        <div class="container-2">
                                            <div class="link-2">
                                                <div class="THE-MONEY-BOOK">THE MONEY BOOK 더<br />머니북</div>
                                            </div>
                                            <div class="link-wrapper">
                                                <div class="link-3"><div class="text-wrapper-4">토스</div></div>
                                            </div>
                                            <img class="SVG" src="img/SVG.svg" />
                                            <div class="text-wrapper-5">4.2</div>
                                            <div class="text-wrapper-6">(13)</div>
                                        </div>
                                    </div>
                                    <div class="item-2">
                                        <img class="link-mask-group" src="img/link-mask-group-7.svg" />
                                        <div class="container-2">
                                            <div class="link-2">
                                                <p class="p">진짜 게으른 사람이 쓴 게<br />으름 탈출법</p>
                                            </div>
                                            <div class="link-wrapper">
                                                <div class="link-3"><div class="text-wrapper-4">지이</div></div>
                                            </div>
                                            <img class="SVG" src="img/SVG-3.svg" />
                                            <div class="text-wrapper-5">4.4</div>
                                            <div class="text-wrapper-7">(1,571)</div>
                                        </div>
                                    </div>
                                    <div class="item-3">
                                        <img class="link-mask-group" src="img/link-mask-group-6.svg" />
                                        <div class="container-2">
                                            <div class="link-4"><div class="text-wrapper-8">인간 본성의 법칙</div></div>
                                            <div class="container-3">
                                                <div class="link-5"><div class="text-wrapper-9">로버트 그린</div></div>
                                            </div>
                                            <img class="img" src="img/SVG-5.svg" />
                                            <div class="text-wrapper-10">4.4</div>
                                            <div class="text-wrapper-11">(88)</div>
                                        </div>
                                    </div>
                                    <div class="item-4">
                                        <img class="link-mask-group" src="img/link-mask-group-9.svg" />
                                        <div class="container-2">
                                            <div class="link-4"><div class="text-wrapper-12">회복탄력성(리커버)</div></div>
                                            <div class="container-3">
                                                <div class="link-6"><div class="text-wrapper-13">김주환</div></div>
                                            </div>
                                            <img class="img" src="img/SVG-6.svg" />
                                            <div class="text-wrapper-10">4.6</div>
                                            <div class="text-wrapper-14">(294)</div>
                                        </div>
                                    </div>
                                    <div class="item-5">
                                        <img class="link-mask-group" src="img/link-mask-group-10.svg" />
                                        <div class="container-2">
                                            <div class="link-4"><div class="text-wrapper-15">불새</div></div>
                                            <div class="container-3">
                                                <div class="link-7"><div class="text-wrapper-16">테즈카 오사무</div></div>
                                            </div>
                                            <img class="img" src="img/SVG-8.svg" />
                                            <div class="text-wrapper-10">4.8</div>
                                            <div class="text-wrapper-14">(391)</div>
                                        </div>
                                    </div>
                                    <div class="item-6">
                                        <img class="link-mask-group" src="img/link-mask-group.svg" />
                                        <div class="container-2">
                                            <div class="link-4"><div class="text-wrapper-17">오렌지와 빵칼</div></div>
                                            <div class="container-3">
                                                <div class="link-3"><div class="text-wrapper-4">청예</div></div>
                                            </div>
                                            <img class="img" src="img/SVG-2.svg" />
                                            <div class="text-wrapper-10">4.2</div>
                                            <div class="text-wrapper-11">(84)</div>
                                        </div>
                                    </div>
                                    <div class="item-7">
                                        <img class="link-mask-group" src="img/link-mask-group-4.svg" />
                                        <div class="container-2">
                                            <div class="link-4"><div class="text-wrapper-17">방구석 미술관</div></div>
                                            <div class="container-3">
                                                <div class="link-6"><div class="text-wrapper-13">조원재</div></div>
                                            </div>
                                            <img class="img" src="img/SVG-7.svg" />
                                            <div class="text-wrapper-10">4.3</div>
                                            <div class="text-wrapper-18">(1,090)</div>
                                        </div>
                                    </div>
                                    <div class="item-8">
                                        <img class="link-mask-group" src="img/link-mask-group-8.svg" />
                                        <div class="container-2">
                                            <div class="link-4"><div class="text-wrapper-19">돌이킬 수 있는</div></div>
                                            <div class="container-3">
                                                <div class="link-6"><div class="text-wrapper-13">문목하</div></div>
                                            </div>
                                            <img class="img" src="img/SVG-4.svg" />
                                            <div class="text-wrapper-10">4.5</div>
                                            <div class="text-wrapper-18">(1,277)</div>
                                        </div>
                                    </div>
                                    <div class="item-9">
                                        <img class="link-mask-group" src="img/link-mask-group-3.svg" />
                                        <div class="container-2">
                                            <div class="link-2">
                                                <div class="text-wrapper-20">마음이 아니라 뇌가 불안<br />한겁니다</div>
                                            </div>
                                            <div class="link-wrapper">
                                                <div class="link-8"><div class="text-wrapper-21">다니엘 G. 에이멘</div></div>
                                            </div>
                                            <img class="SVG" src="img/image.svg" />
                                            <div class="text-wrapper-5">4.0</div>
                                            <div class="text-wrapper-22">(4)</div>
                                        </div>
                                    </div>
                                    <div class="item-10">
                                        <img class="link-mask-group" src="img/link-mask-group-5.svg" />
                                        <div class="container-2">
                                            <div class="link-4"><div class="text-wrapper-12">반 고흐 영혼의 편지</div></div>
                                            <div class="container-4">
                                                <div class="link-9"><div class="text-wrapper-23">빈센트 반 고흐</div></div>
                                                <div class="overlap-group">
                                                    <div class="text-wrapper-24">,</div>
                                                    <div class="link-10"><div class="text-wrapper-13">신성림</div></div>
                                                </div>
                                            </div>
                                            <img class="img" src="img/SVG-9.svg" />
                                            <div class="text-wrapper-10">4.8</div>
                                            <div class="text-wrapper-11">(63)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-3"></div>
            <div class="background-wrapper">
                <div class="background">
                    <div class="header-nav">
                        <img class="search-label" src="img/search-label.svg" />
                        <img class="link-SVG" src="img/link-SVG-2.svg" />
                        <img class="link-SVG-2" src="img/link-SVG-3.svg" />
                        <img class="link-SVG-3" src="img/link-SVG.svg" />
                        <img class="link-SVG-4" src="img/link-SVG-4.svg" />
                        <div class="overlap-group-2">
                            <div class="item-link"><div class="text-wrapper-25">추천</div></div>
                            <div class="link-11">
                                <p class="BMS">
                                    <span class="span">📚 </span>
                                    <span class="text-wrapper-26">B</span>
                                    <span class="span">MS</span>
                                </p>
                            </div>
                        </div>
                        <div class="item-link-2"><div class="text-wrapper-27">기획전</div></div>
                        <div class="item-link-3"><div class="text-wrapper-28">소설</div></div>
                        <div class="item-link-4"><div class="text-wrapper-29">인문/사회/역사</div></div>
                        <div class="item-link-5"><div class="text-wrapper-30">자기계발</div></div>
                        <div class="item-link-6"><div class="text-wrapper-31">경영/경제</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
